footer {
  display: flex;
  padding-block: 1.5rem;
  font: 0.875em/150% var(--font-family);
}

footer div {
  display: flex;
  gap: 1.5rem;
}

footer span {
  margin-right: auto;
}


@media (width <= 31.25em) {
  footer {
    flex-direction: column;
    padding-block: 1rem;
    justify-content: center;
    gap: 1rem;
  }

  footer span {
    margin: 0 auto;
  }
}