main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-block: 1.5rem;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}


@media (width <= 31.25em) {
  main {
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
  }

  main img {
    width: 20.5rem;
    height: 20.5rem;
    object-fit: cover;
  }
}